/* .headerContainer {
  background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080');
}
.links{
  margin-left: 300px;
}

.links a {
  color: white;
}

.link1 {
  float: left;
  height: 46px;
  background-color: blue;
  padding-right: 320px;
}

.link2 {
  float: left;
  height: 46px;
  background-color: green;
  padding-right: 320px;

} */
